html,
body {
  background-color: #ececec;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body {
  opacity: 0;
}
.visible {
  opacity: 1;
  transition: opacity 1s ease-out;
}
#wrapper {
  padding-top: 1rem;
}
#content {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  width: 100vw;
  padding-top: 3rem;
}

/* Timeline */
#timeline {
  position: fixed;
  left: 50vw;
  top: 0;
  background: #faa400;
  width: 1rem;
  height: 100%;
  margin: auto;
  /*border: 1px solid rgb(80, 80, 80);*/
}
#timelineMask {
  position: absolute;
  left: 50vw;
  top: 0;
  background: #ececec;
  width: 1rem;
  height: 12rem;
  margin: auto;
  z-index: 1;
}

/* Timeline items */
#items {
  width: 50rem;
  max-width: 100vw;
  margin: auto;
  margin: 3rem auto 0 auto;
  display: relative;
}
.item {
  position: relative;
  border: 1px solid rgb(97, 97, 97);
  border-radius: 7rem;
  width: 9rem;
  height: 9rem;
  background-color: grey;
  background-size: cover;
  background-position: center;
  margin: 0 auto 2rem auto;
  left: 8rem;
  cursor: pointer;
}
.item:nth-of-type(2n) {
  background-color: grey;
  left: -7.8rem;
}
.marker {
  position: absolute;
  background-color: #faa400;
  height: 1.1rem;
  width: 1.2rem;
  border-radius: 2rem;
  margin: 4rem 0 0 -4rem;
}
.item:nth-of-type(2n) .marker {
  left: 16.6rem;
  background-color: #faa400;
}
.markerText {
  width: 20rem;
  margin: -1.25rem 0 0 -22.5rem;
  font-size: 1rem;
  text-align: right;
  font-weight: 100;
}
.item:nth-of-type(2n) .markerText {
  margin: -1.25rem 0 0 4rem;
  text-align: left;
}

.markerText {
  font-weight: 900;
  font-size: 0.8rem;
}
.markerTitle {
  margin-top: 0.5rem;
  font-weight: 900;
  font-size: 1.2rem;
}
.markerTags {
  margin-top: 0.2rem;
  font-weight: 200;
  color: grey;
  font-size: 0.7rem;
}

/* Provides the fade at top and bottom */
#header,
#footer {
  position: fixed;
  z-index: 2;
  height: 5rem;
  width: 100vw;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    #ececec 100%
  );
  bottom: 0;
}
#footer {
  height: 10rem;
}
#header {
  top: 5rem;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    #ececec 100%
  );
}

/* Hides the timeline at the top and bottom */
#bottomMask {
  position: absolute;
  left: 50vw;
  background-color: #ececec;
  width: 1rem;
  margin: -6rem auto;
  z-index: 1;
}

/* Topmost and final point on timeline */
.item:nth-of-type(1) .marker,
.item:nth-last-of-type(1) .marker {
  z-index: 2;
  width: 2rem;
  height: 2rem;
  margin: 3.4rem 0 0 -4rem;
}
.item:nth-last-of-type(1) .marker {
  margin: 3.4rem 0 0 -4rem;
}
.item.right:nth-last-of-type(1) .marker {
  margin: 3.4rem 0 0 -4.8rem;
}

/* Nav bar */
#navigation {
  background-color: white;
  position: fixed;
  height: 5rem;
  width: 100vw;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px 0px;
  display: flex;
  align-items: center;
  padding: 0 1rem 0 1rem;
}

#filterTitle,
.navTitle {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0.6rem 1rem 0 1.4rem;
  cursor: pointer;
  z-index: 3;
}

#filterTitle {
  z-index: 1;
  position: absolute;
  top: 6.3rem;
  left: 1rem;
  opacity: 0.5;
  cursor: default;
}

.navItem {
  margin: 0 1rem 0 0;
  padding: 0.2rem;
  cursor: pointer;
}
#navItems {
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin: 0.7rem 0 0 0;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.selected {
  background-color: #f1f1f1;

  border-radius: 0.3rem;
}

#burger {
  display: none;
  font-size: 2rem;
  margin-top: 0.5rem;
}

@media (max-width: 1000px) {
  #navItems {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 4.9rem;
    width: 100vw;
    align-items: flex-start;
    left: 0;
    background-color: rgb(255, 255, 255);
    padding: 0 0 2rem 1rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px 0px;
    margin: 0;
  }
  .navItem {
    text-align: left;
    margin-bottom: 1rem;
  }
  #burger {
    display: inline;
  }
  #filterTitle {
    left: 2rem;
  }
}
