#search {
  background-color: white;
  position: fixed;
  z-index: 3;
  top: 4.5rem;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-top: 1px dashed lightgray;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px 0px;
}
#searchResults {
  width: 100vw;
  max-height: 20vh;
  overflow: scroll;
}
#searchResults .count {
  color: #faa400;
  margin: 0 0 1rem 0;
  font-weight: 900;
}
#searchResults .tags {
  color: darkgray;
  margin: 0 0 1rem 0;
  font-weight: 200;
}
#search input {
  font-size: 2rem;
  font-weight: 900;
  border: 1px solid lightgray;
  outline: none;
  padding: 0.3rem 2.7rem 0.3rem 0.3rem;
}
.icon {
  color: lightgray;
  font-size: 1.5rem !important;
  margin: 0 0 0 -2rem;
  position: relative;
  top: -0.12rem;
}
